@page "/products"
@rendermode InteractiveServer
@inject ApiClient Api 
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime
@using BlazorHelloWorld.Components.Models
@inject LicenseService LicenseService


<h1>Products</h1>

<p><button @onclick="NavigateToCreate">Create</button></p>

<p>This is da Products</p>

@if (products is null)
{
    <p><em>Loading...</em></p>
}
else if (products.Length == 0)
{
    <p>No products.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
		<th>ID</th>
                <th>Description</th>
                <th>Display Name</th>
                <th>License Template ID</th>
                <th>Name</th>
		<th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < products.Length; i++)
            {
                var p = products[i];
                <tr>
		    <td>@p.id</td>
                    <td>@p.description</td>
                    <td>@p.displayName</td>
                    <td>@p.licenseTemplateId</td>
                    <td>@p.name</td>
		    <td><button @onclick="() => DeleteProduct(p)">Delete</button></td>
		    <td><button @onclick="() => CreateLicense(p)">License</button></td>
                </tr>
            }
        </tbody>
    </table>
}

<h1>Licenses</h1>
<p>This is da Licenses</p>

@if (licenses is null)
{
    <p><em>Loading...</em></p>
}
else if (licenses.Length == 0)
{
    <p>No licensess.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
		<th>License Key</th>
		<th>ID</th>
                <th>Product ID</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < licenses.Length; i++)
            {
                var l = licenses[i];
                <tr>
		    <td>@l.key</td>
		    <td>@l.id</td>
                    <td>@l.productId</td>
		    <td><button @onclick="() => DeleteLicense(l)">Delete</button><button @onclick="() => ActivateLicense(l)">Activate</button></td>
                </tr>
            }
        </tbody>
    </table>
}

<h1>Activations</h1>
<p>This is da Activations</p>

@if (activations is null)
{
    <p><em>Loading...</em></p>
}
else if (activations.Length == 0)
{
    <p>No Activationss.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
		<th>Created At</th>
		<th>Operating System</th>
                <th>Product ID</th>
		<th>License Key</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < activations.Length; i++)
            {
                var a = activations[i];
                <tr>
		    <td>@a.createdAt</td>
		    <td>@a.os</td>
                    <td>@a.productId</td>
		    <td>@a.licenseId</td>
		    <td><button @onclick="() => DeleteActivation(a)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private Product[]? products;

    private BlazorHelloWorld.Components.Models.License[]? licenses;

    private BlazorHelloWorld.Components.Models.Activation[]? activations;

    protected override async Task OnInitializedAsync()
    {
	products = await Api.GetJsonAsync<Product[]>("v3/products");
	licenses = await Api.GetJsonAsync<BlazorHelloWorld.Components.Models.License[]>("v3/licenses");
	activations = await Api.GetJsonAsync<BlazorHelloWorld.Components.Models.Activation[]>("v3/activations");

    }

   

    private async Task DeleteProduct(Product p)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
	if (confirmed)
	{
	    var res = await Api.DeleteAsAsync($"v3/products/{p.id!}");
	    Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
	}
    }

    private async Task DeleteLicense(BlazorHelloWorld.Components.Models.License l)
    {
	bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
	if(confirmed)
	{
	   var res = await Api.DeleteAsAsync($"v3/licenses/{l.id}");
	    Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
	 }
    }

    private async Task DeleteActivation(BlazorHelloWorld.Components.Models.Activation a)
    {
	bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
	if(confirmed)
	{
	   var res = await Api.DeleteAsAsync($"v3/Activations/{a.id}");
	    Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
	 }
    }    

    public class ProdID {
	public string? productId {get; set;}
    }


    private async Task CreateLicense(Product p)
    {

	bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Create new license for {p.name}");
	
	if(confirmed)
	{
		var ProductID = new ProdID() { productId = p.id};

		// send and deserialize JSON response
		 var response = await Api.PostJsonAsync("v3/licenses", ProductID);
		 if (response.IsSuccess)
		 {
		    Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
		 }
		 else
		 {
		   // error handling
		    Console.WriteLine(response.Content);
		 }
	}
    }

    private async Task ActivateLicense(BlazorHelloWorld.Components.Models.License l)
    {
	    try
	    {
	        // Fetch the product.dat content as a string
	        var productData = await Api.GetProductDataAsync(l.productId);
		bool success = LicenseService.ActivateLicense(
		l.productId,
		l.key,
		productData
		);

	        if (success)
	        {
	            // Activation successful
		    Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
	        }
	        else
	        {
	            // Activation failed
	        }
	    }
	    catch (LexActivatorException ex)
	    {
	        // handle error
	    }
	    catch (Exception ex)
	    {
	        // handle other errors (e.g., HTTP request failure)
	    }
    }

    private void NavigateToCreate() => Navigation.NavigateTo("createproductform");
}
